@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <p>@ViewBag.TagLine</p>
</div>
<div id="mobileShim" name="mobileShim"></div>
<div class="text-left">
    <p>
        <form id="frmSpeechSynthesis" name="frmSpeechSynthesis" action="/" method="get">
            <p>
                <label for="selVoice">Voice Actor:</label>
                <select id="selVoice" name="selVoice">
                    <option value="Microsoft David Desktop">Microsoft David Desktop</option>
                    <option value="Microsoft Zira Desktop"">Microsoft Zira Desktop</option>
                    <option value="Microsoft Helena Desktop">Microsoft Helena Desktop</option>
                    <option value="Microsoft Hortense Desktop">Microsoft Hortense Desktop</option>
                </select>
            </p>
            <p>
                <label for="selRate">Rate of Speech:</label>
                <input type="range" id="selRate" name="selRate" min="-10" max="10" value="@ViewBag.Rate"> <span id="rateValue">@ViewBag.Rate</span>

            </p>
            <p>
                <label for="txtInput">Text to Speak:</label><br />
                <textarea id="txtInput" name="txtInput" rows="8" cols="40" onclick="javascript: this.value='';">@ViewBag.InputText</textarea>
            </p>
            
            <p>
                <label for="selVolume">Speech Volume:</label>
                <input type="range" id="selVolume" name="selVolume" min="0" max="100" value="@ViewBag.Volume"> <span id="volumeValue">@ViewBag.Volume</span>
            </p>
            <p>
                <input type="submit" id="btnSubmit" name="btnSubmit" value="Synthesise" />
                <input type="reset" id="btnReset" name="btnReset" value="Start Again" onclick="replaceCurrentPage('/');" />
            </p>
        </form>
    </p>
    
</div>
<script>
    const textField = document.getElementById("txtInput"); textField.focus();
    
    const sliderRate = document.getElementById("selRate")
    const sliderRateValue = document.getElementById("rateValue")

    sliderRate.oninput = function() {
        sliderRateValue.innerHTML = this.value;
    }

    const sliderVolume = document.getElementById("selVolume")
    const sliderVolumeValue = document.getElementById("volumeValue")

    sliderVolume.oninput = function() {
        sliderVolumeValue.innerHTML = this.value;
    }

</script>